.btn {
    text-decoration: none;
    color: #fff;
    background: $mainOrange;
    padding: .45rem 1rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.68);
    transition: background .5s;
    
    @mixin atMedium {
        padding: .55rem 1.2rem;
    }
    
    &:hover {
        background: #e38c00;
    }
}