.logo { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px rgba(29, 66, 219, 0.72);
    transform: translateX(-50%);
    
    @mixin atMedium {
        transform: translateX(0);
    }
    
    a { 
        font-family: 'Lobster', cursive;
        text-decoration: none;
        font-size: 1.5rem;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #0bb9d0;
    }
}