.primary-nav {
    position: absolute;
    top: 80%;
    left: -10px;
    transform: translateY(-68%);
        
    @mixin atMedium {
        float: right;
        position: relative;
        transform: translateY(-3%);
    }
    
    ul {
        padding-left: 22px;
        @mixin atMedium {
           float: right; 
        }
    }
    
    li {
        display: inline-block;
        padding: 13px 0;
        margin-right: .55rem;
        
        @mixin atMedium {
            margin-right: 1.3rem;
            padding: 6px 0;
        }
    }
    
    li:last-child {
        @mixin atMedium {
            margin-right: 2rem;
        }
    }
    
    a {
        text-decoration: none;
        color: $mainOrange;
        font-size: 1.1rem;
        transition: all .3s ease;
        
        &:hover {
            outline-color: #fff;
            outline: 1px solid;
            outline-offset: 5px;
        }
        
        @mixin atMedium {
            color: #fff;
            font-size: 1.3rem;
        }
    }
    
    .is-current-link {
        color: $mainBlue;
        
        @mixin atMedium {
            color: $mainOrange;
        }
    }
}