.site-footer {
    background: #095552;
    padding: 10px 0;
    text-align: center;
    
    @mixin atMedium {
        text-align: left;
    }
    
    &__copyright {
        color: #fff;
        font-size: .88rem;
        
        @mixin atMedium {
            font-size: 1rem;
        }
    }
}