.site-footer {
    background: #095552;
    padding: 10px 0;
    text-align: center;
    position: relative;
    
    @mixin atMedium {
        text-align: left;
    }
    
    &__copyright {
        color: #fff;
        font-size: .88rem;
        
        @mixin atMedium {
            font-size: 1rem;
        }
    }
    
    &__social-icon {
        position: absolute;
        top: 50%;
        right: 100px;
        transform: translateY(-50%);
        
        &__facebook {
            text-decoration: none;
            font-size: 1.1rem;
            color: #fff;
            background: hsla(0, 0%, 0%, 0.42);
            padding: 5px 13px;
            border-radius: 100px;
            margin-right: 10px;
            
            &:hover {
                background: hsla(0, 0%, 0%, 0.56);
            }
        }
        
        &__google {
            text-decoration: none;
            font-size: .90rem;
            color: #fff;
            background: hsla(0, 0%, 0%, 0.42);
            padding: 7px 13px;
            border-radius: 100px;
            
            &:hover {
                background: hsla(0, 0%, 0%, 0.56);
            }
        }
    }
}